/* mobile */
@media only screen and (max-width:720px) {
  .col-sm-2{
  grid-template-columns: auto auto;
  } 

  .d-sm-none {
    visibility: hidden;
  }
  .d-sm-block {
    visibility: visible;
  }
  .col-sm-1{
     grid-template-columns: auto
  }

}
/* pc */
@media only screen and (min-width:721px) {
  .col-md-4{
  grid-template-columns: auto auto auto auto;
  }

  .d-md-none {
    visibility: hidden;
  }
  .d-md-block {
    visibility: visible;
  }
  .col-md-2{
    grid-template-columns: auto auto;
  }
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 2px 10px;
}

.menu-items {
  text-decoration: none;
  color: black;
}

.text-center {
  text-align: center;
}

ul {
  padding-inline-start: 0px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.position-fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.btn {
  border: 0px;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 2px;
  text-decoration: none;
}
.btn-blue{
  background-color: blue;
  color: white;
}
.btn-white{
  background-color: white;
  color: black;
}
.slideshow{
  max-height: 500px;
}
.img-slideshow{
 height: 500px;
 object-fit: cover;
 object-position: top;
}
.img-influencer {
  height: 100px;
  width: 100px;
  border-radius: 1000px;
  object-fit: cover;
 object-position: center;
 border: 2px solid red;
 padding: 2px;
}
.img-influencer-container{
  height: 150px;
  width: 120px;
  margin: 10px;
  text-align: center;
  
}
.influencer-container {
  overflow-x: scroll;
  overflow-y: visible;
}
.img-ads{
 width: 100%;
 margin: 5px;
 border-radius: 10px;
}

.d-grid {
  display: grid;
  column-gap: 10px;
}
.widget-area{
  background-color: #3c4b6d;
  border-radius: 9px;
  height: 50px;
  color: white;
}
.px-5 {
  padding-right: 25px;
  padding-left: 25px;
}

.ps-2 {
  padding-left: 5px;
}



.footer-menu>ul>li{
  list-style: none;
  font-size: 0.9rem;
}


.d-flex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.form-control {
  width: 95%;
  margin: 5px 1px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;
}

.form-control:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.login-box {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 500px;
}

.d-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-area {
  height: 1000px;
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
}

.card-area>table {
  width: 100%;
}

tr, td, th {
  text-align: center;
  padding: 7px;
}

th {
  border-bottom: 2px solid black;
}

tr:nth-child(even){
  background-color: rgb(240, 239, 239);
}
